/* .search-bar{
    width: 600px;
    background-color: blue;
    margin: 200px;
    border-radius: 20%;
}

.search-row{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.search-bar input{
    flex: 1;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: wheat;
} */