@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(38, 30, 56);
} 


.wrapper h1 {
    font-size: 36px; 
    text-align: center;
} 

.search-bar {
    width: 98%;
    background-color:transparent;
    border: 2px solid rgb(227, 227, 222);
    margin: 0 auto; 
    border-radius: 15px;
    padding: 0px 0px 3px 0px; 
    position: relative; 
    margin-top: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}

.search-row {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.search-bar input{
    flex: 1;
    height: 23px;
    
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: rgb(227, 227, 222);
}

.search-bar ::placeholder {
    color: rgb(227, 227, 222);
} 

.srch-btn {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 0; 
    margin: 0;
}

.srch-btn i {
    font-size: 20px; 
    color: rgb(227, 227, 222);
}

.result-box {
    position: absolute;
    top: 100%; 
    left: .5%; 
    width: 99%; 
    z-index: 1; 
    background-color: rgb(227, 227, 222);
    border-top: none; 
    border-radius: 0 0 5px 5px; 
    display: none;
    color: rgb(38, 30, 56);
}

.result-box ul{
    padding: 5px 10px;
    color: rgb(227, 227, 222);
}

.result-box ul li{
    left: 0;
    list-style: none;
    border-radius: 3px;
    padding: 5px 5px;
    cursor: pointer;
    color: rgb(227, 227, 222);
}

.result-box ul li a{
    color: rgb(38, 30, 56);
}

.result-box ul li:hover {
    background-color: rgb(209, 209, 209);
    border-radius: 5px;
}


.sidebar {
    position: fixed;
    flex: content;
    width: 18%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 15px;
    border: 2px solid rgb(227, 227, 222);
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
    top: 50%;
    left: 3%; 
    transform: translateY(-50%);
    justify-content: center;
    justify-items: center;
    backdrop-filter: blur(10px);
}

.sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid rgb(0, 0, 0, .05); 
    border-top: 1px solid rgb(225, 225, 225, .05); 
    border: 2px solid rgb(227, 227, 222);
    color: rgb(227, 227, 222);
    border-radius: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    /* text-indent: 40px; */
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar ul li a{
    color: rgb(227, 227, 222);
    /* display: block; */
}

.sidebar ul li a .bx{
    width: 25;
    margin-right: 7px;   
}

.sidebar ul li:hover{
    background-color: rgb(73, 52, 88);
}

.logo-img{
    height: 65%;
    width: 65%;
    margin-left: 17%;
    margin-bottom: 10%;
}




.make-post {
    margin-top: 40px;
    width: 60%;
    height: 130px;
    margin-left: 25.5%;
    color: #333;
    padding: 20px;
    background-color: rgb(38, 30, 56);
    border: 2px solid rgb(227, 227, 222);
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}

.make-post .input-box {
    position: relative;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    margin: 0px 0px;
    background-color: rgb(73, 52, 88);
}

.make-post .input-box input {
    width: 100%;
    height: 85%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 14px;
    color: rgb(227, 227, 222);
    padding: 20px 45px 20px 7px;
}

.make-post .input-box input::placeholder {
    color: rgb(255, 255, 255);
} 

.make-post .post-btn {
    width: 10%;
    height: 25px;
    margin-left: 90%;
    background-color: rgb(73, 52, 88);
    border: none;
    outline: none;  
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-top: 8px;
}


.post{
    width: 60%;
    margin-top: 10px;
    padding: 10px; 
    border: 1px solid #ccc;  
    border-radius: 10px; 
    background-color:transparent;
    border: 2px solid rgb(255, 255, 255);
    text-align: left; 
    margin-left: 25.5%;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
} 

.post-container {
    width: 100%;
    margin-bottom: 5px;
    line-height: 1.5;   
    padding: 5px 10px;
    border-radius: 30px; 
    background-color: transparent; 
    border: none;
    /* border-bottom: rgb(255, 255, 255); */
    text-align: left; 
    align-items: center;
    display: flex;
}


.post-container .content {
    width:100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 10px 0px 10px 0px;
    color:rgb(227, 227, 222);
    box-shadow: 0px 3px 0 0px rgba(255, 255, 255, 0.1); 
    margin-bottom: 10px;
}  

.post-container .content p{
    margin-left: 5%;
    margin-bottom: 5px;
    font-size: 13.5px;
}

.post-container .content .username {
    margin-left: 4.8%;
    font-size: 20px;
    margin-top: -5.1%;
    word-spacing: -5px;
    margin-bottom: -.1%;
}

.content .iconbx {
    padding: 2px 2px;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    margin-bottom: -1.5%;
    display: flex;
    justify-content: space-around; 
    align-items: center;
}  

.commentbtn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.sharebtn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.heartbtn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color:rgb(227, 227, 222);
}

.post-avatar img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: -1%;
}



.login-page{
    background-image: url('login1.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} 

.login-container {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    color: white;
    border-radius: 12px;
    padding: 30px 40px;
    text-align: center;
} 

.login-container .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    margin: 30px 0px;
    
} 

.login-container .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.login-container .input-box input::placeholder {
    color: white;
} 

.login-container .input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
} 

.login-page .btn {
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;  
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
} 

.login-page .login-container .register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
} 

.login-page .login-container .register-link p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.login-page .login-container .register-link p a:hover {
    text-decoration: underline;
} 

.fest-details .fest-head {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 30px;
    width: 48%;
    height: 200px;
    margin-left: 25%;
    color: rgb(227, 227, 222);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
    /* background-position: center; */
    /* background-position-y: center; */
    /* background-position: inherit; */
    background-repeat: no-repeat;
    background-size: cover; /* Ensure the background image covers the entire container */
    background-position: center;/* Ensure the background image covers the container */
}

 /* .fest-details .fest-head {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 30px;
    width: 48%;
    height: 200px;
    margin-left: 25.5%;
    color: #333;
    padding: 20px; 
    background-image: url('coach.jpeg'); 
    background-position: center;
    background-repeat: no-repeat; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
}  */

/* .fest-details .fest-head img {
    width: auto;
    height: auto;
    max-width: 100%; 
    max-height: 100%; 
    border-radius: 10px; 
    object-fit: cover; 
}  */

.fest-details .fest-head h1{
    font-family: "Poetsen One", sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}

.fest-details .fest-head .info{
    display: inline-block;
    width: 180px;
    flex: content;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 12px;
    text-align: center;
    color: rgb(227, 227, 222);
    font-size: 12px;
    padding: 5px;
    margin-top: 130px; 
    justify-content: center; 
}

.attending-button{
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(227, 227, 222);
}

.fest_createpost {
    margin-top: 20px;
    width: 48%;
    height: 130px;
    margin-left: 25%;
    color: rgb(227, 227, 222);
    padding: 20px;
    background-color: rgb(38, 30, 56);
    border: 2px solid rgb(227, 227, 222);
    border-radius: 10px;
    margin-bottom: 60px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}

.fest_createpost .input-box {
    position: relative;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    margin: 0px 0px;
    background-color: rgb(73, 52, 88);
}

.fest_createpost .input-box input {
    width: 100%;
    height: 85%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 14px;
    color: rgb(227, 227, 222);
    padding: 20px 45px 20px 7px;
}

.fest_createpost .input-box input::placeholder {
    color: rgb(255, 255, 255);
} 

.fest_createpost .post-btn {
    width: 10%;
    height: 25px;
    margin-left: 90%;
    background-color: rgb(73, 52, 88);
    border: none;
    outline: none;  
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-top: 7.5px;
}
.festpost{
    width: 48%;
    margin-top: -2.8%;
    padding: 10px; 
    border: 1px solid #ccc;  
    border-radius: 10px; 
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    text-align: left; 
    margin-left: 25%;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
} 

.festpost-container {
    width: 100%;
    margin-bottom: 5px;
    line-height: 1.5;   
    padding: 2px 10px; 
    border-radius: 30px; 
    background-color: transparent; 
    border-bottom: rgb(255, 255, 255);
    text-align: left; 
    align-items: center;
    display: flex;
}

.festpost-container .content {
    width:100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 10px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    box-shadow: 0px 3px 0 0px rgba(255, 255, 255, 0.1); 
} 

.festpost-container .content p{
    margin-left: -.5%;
    margin-bottom: 5px;
    font-size: 13.5px;
}

.festpost-container .content .username {
    margin-left: -1%;
    font-size: 20px;
    word-spacing: -5px;
    margin-bottom: -.1%;
}

.festpost-container .content .iconbx {
    padding: 2px 2px;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    margin-bottom: -2%;
    display: flex;
    justify-content: space-around; 
    align-items: center;
}  

.festpost-container .commentbtn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.festpost-container .sharebtn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.festpost-container .heartbtn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.festpost-container .post-avatar img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


.fest-lineup {
    position: fixed;
    flex: content;
    width: 20%;
    background-color: transparent;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 20px;
    top: 50%;
    right: 3%; 
    transform: translateY(-50%);
    justify-content: center;
    justify-items: center;
}

.fest-lineup img {
    cursor: pointer;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}
  

.festmodal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 2%; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, .5); 
}

.festmodal-content {
    position: relative;
    margin: auto;
    display: block;
    width: 100%;
    max-width: 700px;
    border-radius: 30px;
    background-color: transparent;
}

.festmodal-content::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: -1;
}


.festmodal .close {
    position: absolute; 
    top: 0; 
    right: 0; 
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

.festmodal .close:hover,
.festmodal .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.festival {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 60%;
    height: auto; 
    margin-left: 25%;
    color: #333;
    background-color: transparent;
    padding: 20px;
    border-radius: 20px;
    
}

.festival .fest-table {
    display: table;
    width: 100%;
    height: 450px;
    border-spacing: 20px;
    padding: 0px;
}

.festival .fest-row {
    display: table-row;
}

.festival .fest-cell {
    width: 20%;
    display: table-cell;
    margin-top: 0px;
    text-align: center;
    vertical-align: middle;
    padding: 20px;
    border: 2px solid rgb(227, 227, 222);
    border-radius: 15px;
    background-color: transparent;
    backdrop-filter: blur(15px);
    color: rgb(227, 227, 222);
    font-size: 23px;
    text-transform: uppercase;
    /* letter-spacing: 3px; */
    word-spacing: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}

.festival .fest-cell a {
    color: rgb(250, 250, 249);
    display: block;
    text-decoration: none;
}

.festival .fest-cell p{
    color: rgb(155, 135, 199);
    display: block;
    text-decoration: none;
    font-size: 12px;
    text-transform: none;
    /* font-style: italic; */
}

.festival .fest-cell:hover {
    background-color: rgb(73, 52, 88);
}




.profile{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prof-card{
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    backdrop-filter: blur(15px);
    width: 440px;
    padding: 40px 90px;
    color: rgb(255, 255, 255);
    position: relative;
    border-radius: 15px;
    transform: translateY(-12%);
    color: rgb(73, 52, 88);
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}


.follow-btn{
    width: 25px;
    position:absolute;
    left: 75%;
    top: 25px;
}

.profile-avatar-container{
    margin-left: -65px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    padding: 3px;
    margin-top: -20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
    overflow: hidden; /* Ensure the image stays within the circular container */
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-avatar-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire area without being stretched */
    border-radius: 50%; /* Makes the image circular */
    cursor: pointer;
}

.prof-card .bio{
    margin-top: 5px;
    width: 90%;
    height: 100px;
    margin-left: -65px;
    color: #333;
    padding: 0px;
    background: transparent;
    border-radius: 20px;
    padding-bottom: 15px;
}

.bio h1{
    font-size: 25px;
    padding-top: 5px;
    color: rgb(242, 239, 223);
}

.bio p{
    font-size: 13px;
    margin-top: 5px;
    padding-left: 7px;
    color: rgb(255, 255, 255);
}

.followers{
    position: fixed;
    width: 130px;
    height: 40px;
    margin-left: 193px;
    margin-top: -85px;
    color: rgb(255, 255, 255);
    padding: 10px;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    font-size: 10px;
    justify-content: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}

.followers p{
    font-size: 13px;
    text-align: center;
    font-weight: 600;
}

.followers2{
    position: fixed;
    margin-top: -40px;
    width: 130px;
    height: 40px;
    margin-left: 193px;
    color: rgb(255, 255, 255);
    padding: 10px;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    font-size: 10px;
    justify-content: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}

.followers2 p{
    font-size: 13px;
    text-align: center;
    font-weight: 600;
}

.prof-card .bio p{
    position: relative;
    margin: 0px 0px;
   
}

.prof-bottom{
    background-color: rgb(81, 55, 101);
    color: black;
    padding 60px 0px;
    margin-right: -90px;
    margin-left: -90px;
    margin-bottom: -40.5px;
    border-radius: 15px;
    height:160px;
    margin-top: 60px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
    border: 2px solid rgb(255, 255, 255);
}

.attend{
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 12px;
    text-align: center;
    color: black;
    font-size: 12px;
    padding: 5px;
}

.attend .headblock {
    width: 230px;
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
    margin-left: 98px;
    margin-top: -30px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}

.attend .headblock h2{
    font-size: 18px;
    text-align: center;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(73, 52, 88);
}

.attend ul li{
    display: inline-block;
    width: 40%;
    padding: 15px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(38, 30, 56);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 13px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}



.prof-card .follow-button{
    width: 90px;
    background-color: rgb(255, 255, 255);
    color: rgb(38, 30, 56);
    border: none;
    outline: none;
    padding: 10px 18px;
    cursor: pointer;
    border-radius: 15px;
    margin-top: -55px;
    margin-bottom: 20px;
    font-weight: 600;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);

}



.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 15px;
}
  
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}