{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block head %}{% endblock %}

{% block body %}

<!-- <h1>Festivals</h1> -->


<!-- <form id="fest-form">

        <div class="input-box">
            <input type="text" placeholder="Search Festivals" id="fest_name" name="fest_name">
        </div>

        <button type="submit" class="btn">Submit</button>
</form>

<div id="fest-results"></div> -->

<!-- <script src="/static/festname_search.js"></script> -->
<div class="fest-search">
    <!-- <div class="Search"> -->
    <div class="input-box">
        <form id="fest-form">
            <div class="input-box">
                <input type="text" placeholder="Search Festivals" id="fest_name" name="fest_name">
                <button type="submit" class="sub-btn">Search</button>
            </div>

            <!-- <button type="submit" class="sub-btn">Search</button> -->
        </form>

        <div id="fest-results"></div>

        <script src="/static/festname_search.js"></script>
    </div>
</div>

<div class="festival">
    <div class="fest-table">
        <div class="fest-row">
            {% for festival in festivals %}
            <div class="fest-cell">
                <a href="/festivals/{{ festival.fest_id }}">
                    {{ festival.fest_name }}
                </a>
            </div>
            {% if loop.index % 2 == 0 %}
                </div><div class="fest-row">
            {% endif %}
            {% endfor %}  
        </div>
    </div>
</div>

<!-- <div class="festival">
    <div class="fest-table">
        <div class="fest-row">
            {% for festival in festivals %}
            <div class="fest-cell">
                <a href="/festivals/{{ festival.fest_id }}">
                    {{ festival.fest_name }}
                </a>
            </div>
            {% endfor %}  
        </div>
    </div>
</div> -->

<!-- <div class="festival">
    <div class="fest-block">
        <ul>
            {% for festival in festivals %}
            <li>
                <a href="/festivals/{{ festival.fest_id }}">
                {{ festival.fest_name }}
                </a>
            </li>
            {% endfor %}  
        </ul>
    </div>
</div>        
    -->




{% block after_body %}{% endblock %}

   <!-- <ul>
            {% for festival in festivals %}
            <li>
                <a href="/festivals/{{ festival.fest_id }}">
                {{ festival.fest_name }}
                </a>
            </li>
            {% endfor %}  
        </ul>
        {% endblock %}

</div> -->
    <!-- <script>
        function createFestivalElement(festival) {
            var festivalDiv = document.createElement("div");
            festivalDiv.classList.add("festival");
            festivalDiv.innerHTML = "<p class='name'>" + fest_name + "</p>" +
                                    "<p class='location'>" + fest_location + "</p>" +
                                    "<p class='date'>" + fest_startdate + "</p>"
                                    "<p class='date'>" + fest_enddate + "</p>";
            return festivalDiv;
        }

        
        async function fetchAndPopulateFestivals() {
            const response = await fetch('/festivals'); 
            const festivals = await response.json();

            const festivalsContainer = document.getElementById('festivalsContainer');
            festivals.forEach(function(festival) {
                const festivalElement = createFestivalElement(festival);
                festivalsContainer.appendChild(festivalElement);
            });
        }

        document.addEventListener("DOMContentLoaded", function() {
            fetchAndPopulateFestivals();
        });
    </script> -->
<!-- </body>
</html> -->
