 {% extends 'base.html' %}

{% block title %}{% endblock %}

{% block head %}{% endblock %}

{% block body %}

<div class="festival">
    <div class="fest-table">

        <div class="fest-row">
            {% for festival in festivals %}

            <div class="fest-cell">
                <a href="/festivals/{{ festival.fest_id }}">
                    {{ festival.fest_name }}
                </a>
                <p>{{ festival.fest_location }}</p>
            </div>

            {% if loop.index % 2 == 0 %}

                </div><div class="fest-row">

            {% endif %}
            {% endfor %}  
        </div>

    </div>
</div>
  

{% block after_body %}{% endblock %}
{% endblock %} 

