<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/style.css"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'/>
    {% block head %} {% endblock %} 

</head>


  <body>

    {% for msg in get_flashed_messages() %}
      <p class="flash-msg">
        {{ msg }}
      </p>
    {% endfor %} 

    <div class="logo">
      <div class="container">
        <img src="/static/wristbands.png" class="logo-img">
      </div>
    </div>


    <div class="wrapper">
      <div class="sidebar">
        <img src="" class="wristbands">
  
        <ul>
          <li><a href="/home"><i class='bx bx-home'></i>Home</a></li>
          <li><a href="/festivals"><i class='bx bx-speaker'></i>Festivals</a></li>
          <li><a href="/search"><i class='bx bx-search-alt'></i>Search</a></li>
          <li><a href="/profile"><i class='bx bx-user-circle'></i>Profile</a></li>
          <li><a href="/logout"><i class='bx bx-user-x'></i>Logout</a></li>
        </ul>

      </div>

    </div>

    {# block search_bar #}
    {% block body %}{% endblock %}
    
  </body>
</html>




