{% extends 'base.html' %}

{% block title %}{{ festival.fest_name }}{% endblock %}

{% block head %}{% endblock %}

{% block body %}
<h1>{{ festival.fest_name }}</h1>
<p>
  Location: {{ festival.fest_location }}
</p>
<p>
  Dates: {{ festival.fest_startdate }} - {{ festival.fest_enddate }}
</p>
<input id="hidden-fest-id" name="fest_id" hidden value="{{ festival.fest_id }}">
<button class="attending-button attending">Attend</button>
<script src="/static/attend.js"></script>

<div class="wrapper">
  <form action="/createFest_post" method="POST">
    <div class="input-box">
      <input type="text" name="content" id="fest-post-content" placeholder="What do you think of the line up?"/>
      <input id="hidden-fest-id" name="fest_id" hidden value="{{ festival.fest_id }}">
    </div>
    <button type="submit" class="btn">POST</button>
  </form>
  
 
</div>

<div id="post-box">
  <div class="wrapper">
    <div class="input-box">
    <p>
      <img src="/static/goofygoober.png" class="user-pic">
      <div id="festpost-results"></div>
    </p>
    <input id="hidden-fest-id" name="fest_id" hidden value="{{ festival.fest_id }}">
    <script src="/static/fest_posts.js"></script>
  </div>
</div>
<!-- <input id="hidden-fest-id" name="fest_id" hidden value="{{ festival.fest_id }}"> -->
{% endblock %}

{% block after_body %}{% endblock %}
