<!-- {% extends 'base.html' %}

{% block title %}{{ festival.title }} - Details{% endblock %}

{% block body %}
<h1>{{ festival.title }}</h1>

<p>
  {{ festival.overview }}
</p>

{% if session.get('user_email') %}
<h2>Like</h2>
<!-- <form action="/movies/{{ movie.movie_id }}/ratings" method="POST"> -->
  <!-- <p>
    attending:
    <select name="attending">
      <option value="">attending</option>
      <!-- {% for num in range(6) %}
        <option value="{{ num }}">{{ num }}</option> NEEDS TO CHANGE TO BOOLEAN-->
      <!-- {% endfor %}
    </select>
  </p>
  <p><input type="submit"></p>
</form>
{% endif %} --> -->

<!-- <img src="{{ movie.poster_path }}">
{% endblock %} --> -->