{% extends 'base.html' %}

{% block title %}{{ festival.fest_name }}{% endblock %}

{% block head %}{% endblock %}

{% block body %}

<div class="fest-details">

  <div class="fest-head">

    <div class="info">
      <i class='bx bxs-map'></i> {{ festival.fest_location }}
    </div>

    <div class="info">
      <i class='bx bxs-calendar'></i> {{ festival.fest_startdate.strftime('%m/%d/%y') }} - {{ festival.fest_enddate.strftime('%m/%d/%y')}}
    </div>


    {% if attend %}

    <div class="info">
      <button class="attending-button attending">Attending</button>  
    </div>

    {% else %}

    <div class="info">
      <button class="attending-button">Attend</button> 
    </div>

    {% endif %}

    <input id="hidden-fest-id" name="fest_id" hidden value="{{ festival.fest_id }}">

  </div>

</div>


<script src="/static/attend.js"></script>

  <div class="fest_createpost">
    <div class="input-box">

      <form action="/createFest_post" method="POST">
          <input type="text" name="content" id="fest-post-content" placeholder="What do you think of the line up?"/>
          <input id="hidden-fest-id" name="fest_id" hidden value="{{ festival.fest_id }}">
          <button class="post-btn" type="submit">POST</button>
      </form>

    </div>
  </div>

<div class="festpost">
  <div class="festpost-containter">
    <div class="content">
      <div id="festpost-results"></div>
    </div>
  </div>
</div>

<div class="fest-lineup">
  <img src="/static/lineup.webp">
</div>



<div id="lineupModal" class="festmodal">
  <span class="close">&times;</span>
  <img class="festmodal-content" id="img01">
</div>

<!-- <input id="hidden-fest-id" name="fest_id" hidden value="{{ festival.fest_id }}"> -->


<script src="/static/fest_posts.js"></script>



<script>
  // Get the modal
  var modal = document.getElementById("lineupModal");
  
  // Get the image and insert it inside the modal - use its "alt" text as a caption
  var img = document.querySelector(".fest-lineup img");
  var modalImg = document.getElementById("img01");
  img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
  }
  
  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];
  
  // When the user clicks on <span> (x), close the modal
  span.onclick = function() { 
    modal.style.display = "none";
  }
  </script>

{% endblock %}

{% block after_body %}{% endblock %}
