{% extends 'base.html' %}
{% block title %}Wristbands{% endblock %}

{% block body %}
  <h1>Scan through the gates with Wristbands</h1>

  <h2>Create an Account</h2>
  <form action="submit.php" method="POST">

    <label for="username">username:</label><br>
    <input type="text" id="username" name="username" required><br><br>

    <label for="firstname">First name:</label><br>
    <input type="text" id="fname" name="firstname" required><br><br>

    <label for="lastname">Last name:</label><br>
    <input type="text" id="lname" name="lastname" required><br><br>

    <label for="password">Password:</label><br>
    <input type="text" id="password" name="password" required><br><br>

    <label for="email">Email adderss:</label><br>
    <input type="text" id="email" name="email" required><br><br>

    <label for="phone">Phone number:</label><br>
    <input type="tel" id="phone_num" name="phone" required><br><br>

    <label for="dob">Fate of Birth:</label><br>
    <input type="date" id="dob" name="dob" required><br><br>

    <input type="submit" value="Submit"
   
  </form>
<!-- 
    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>

  <h2>Log In</h2>
  <form action="/login" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
{% endblock %} --> -->