{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block head %}{% endblock %}

{% block body %}


<div class="make-post">
  <div class="input-box">
    <form action="/create_post" method="POST" id="post-form">
      <input type="text" name="content" id="post-content" placeholder="Share your thoughts on upcoming Festivals!"/>
      <button class="post-btn" type="submit">POST</button>
    </form>
  </div>
</div>



<div class="post-containter">
  <div class="content">
    <div id="post-results"</div>
  </div>
</div>


<script src="/static/posts.js"></script> 


{% endblock %}

{% block after_body %}{% endblock %}