
{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block head %}{% endblock %}

{% block body %}


<div class="profile"> 

    <div class="card">
       
        <div class="setting-icon">
            

                <button class="follow-button followed">Unfollow</button>
        
                <script src="/static/follow.js"></script>

            
        </div>

        <img src="/static/goofygoober.png" class="profile-avatar">
        

        <div class="bio">
            <h1 class="username">@{{ user.username }}</h1>
            <p>i love music and this and that and this and that and this and that and this and that</p>
            
        </div>
        
        <div class="followers">
            <p>31 Followers</p>
        </div>

        <div class="followers2">
            <p>Following 25</p>
        </div>


        <div class="prof-bottom">
        
            <div class="attend">
                <div id="attending-festivals">
                    <div class="headblock">
                        <h2>Attending Festivals</h2>
                    </div>
                    
                    <ul>
                        {% for festival in attending_festivals %}
                            <li>{{ festival.fest_name }}</li>
                        {% endfor %}
                    </ul>

                </div>
            </div>

        </div>

    </div>
</div>

{% endblock %}

{% block after_body %}{% endblock %}


<div class="follow-button">
    <h2 class="followers">

        <button class="follow-button followed">Unfollow</button>

        <script src="/static/follow.js"></script>

        <div class="followers" id="followers">
            <div id="followers-results"></div>
            <div id="following-results"></div>
        </div>
    </h2>
</div>
<!-- <a href="/logout">Logout</a> -->

        <!-- {% if user.bio %}
            <div class="bio">
                
                <form action="/edit_bio" method="POST">
                    <label for="bio">Bio:</label><br>
                    <textarea name="bio" rows="4" cols="50">{{ user.bio }}</textarea>
                    <button type="submit">Save Bio</button>
                </form>
                {% else %}
                <form action="/edit_bio" method="POST">
                    <label for="bio">Bio:</label><br>
                    <textarea name="bio" rows="4" cols="50">{{ user.bio }}</textarea>
                    <button type="submit">Save Bio</button>
                </form>
            </div>
        {% endif %} -->
