
{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block head %}{% endblock %}

{% block body %}


<div class="profile"> 

    <h1 class="username">{{ user.username }}</h1>

    <img src="/static/goofygoober.png" class="user-pic">

    <button class="follow-button followed">Unfollow</button>

    <script src="/static/follow.js"></script>

    <h2 class="followers">

        <div class="followers" id="followers">
            <h3>followers | following</h3> 
            <div id="followers-results"></div>
            <div id="following-results"></div>

        </div>
    </h2>

    <!-- <h3 class="posts">

        <div class="posts" id="posts">
            <h2>Posts</h2>
            <div id="post-results"></div>
    
            <script src="/static/posts.js"></script>
        </div>

        <form id="postForm">
            <textarea id="postContent" rows="4" cols="50" placeholder="POST"></textarea><br>
            <button type="submit">Submit</button>
        </form> 
    </h3> -->

</div>
    
<a href="/logout">Logout</a>

{% endblock %}

{% block after_body %}{% endblock %}



