{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block head %}{% endblock %}

{% block body %}

<div class="fest-search">
    <div class="input-box">

        <form id="search-form">

                <div class="input-box">
                    <input type="text" placeholder="Search by location" id="fest_location" name="fest_name">
                </div>
                <!-- <label>
                    <input type="text" placeholder="Search" id="fest_location" name="fest_name">
                </label> -->

                <button type="submit" class="btn">Submit</button>

        </form>
    
    </div>
</div>

<div id="search-results"></div>

<script src="/static/search.js"></script>

{% endblock %}

{% block after_body %}{% endblock %}